@font-face { 
  font-family: "GothamProRegular";
  src: url("../fonts/GothamProRegular/GothamProRegular.woff") format("woff"),
  url("../fonts/GothamProRegular/GothamProRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}

@font-face { 
  font-family: "GothamProBold";
  src: url("../fonts/GothamProBold/GothamProBold.woff") format("woff"),
  url("../fonts/GothamProBold/GothamProBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 900;
}

@font-face { 
  font-family: "GothamProMedium";
  src: url("../fonts/GothamProMedium/GothamProMedium.woff") format("woff"),
  url("../fonts/GothamProMedium/GothamProMedium.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}

@font-face { 
  font-family: "GothamProLight";
  src: url("../fonts/GothamProLight/GothamProLight.woff") format("woff"),
  url("../fonts/GothamProLight/GothamProLight.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}

:root {
  --gotham-regular: "GothamProRegular", Arial, Helvetica, sans-serif;
  --gotham-bold: "GothamProBold", Arial, Helvetica, sans-serif;
  --gotham-medium: "GothamProMedium", Arial, Helvetica, sans-serif;
  --gotham-light: "GothamProLight", Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--gotham-regular);
}

a {
  text-decoration: none;
}

.btn-popup {
  width: 100%;
  height: 40px;
  text-transform: uppercase;
  font-size: 11.5px;
  font-family: var(--gotham-bold);
  border-radius: 100px;
  background-color: #DD3037;
  border: none;
  color: white;
}